:root {
    --myGreen : #000000; 
    --mylightGreen : #FFFFFF;
  }

/* color del texto */

.text-success {
    color:var(--mylightGreen)!important;
  }

/* botones */

.btn-amen{
    background-color: black;
    color: white;
    border-color: grey;
}

.btn-amen:hover{
    background-color: white;
    color: black;
    border-color: grey;
}

.btn-success {
    color:var(--mylightGreen)!important;
    background-color: var(--myGreen);
    border-color: var(--myGreen);
  }
  .btn-success:hover {
    color: #000;
    background-color:var(--mylightGreen);
    border-color: var(--mylightGreen);
  }

  .text-success:hover {
    color:var(--myGreen)!important;
  }
  
  /* barra navegación */

nav ul li{

    color: var(--myGreen) !important;
}

#mainNav.navbar-shrink .nav-link.active{
    color: var(--myGreen);
    outline: none;
    border-bottom: 0.25rem solid var(--myGreen);
}

#mainNav.navbar-shrink .nav-link:hover{
    color: var(--myGreen);
}


/* featured text */

.projects-section .featured-text{
    border-left: 0.5rem solid var(--myGreen);
}

  a:hover {
    color: var(--mylightGreen);
  }